/*SIDE BAR*/
body{
    background-color: var(--color-primary-light);
    color: var(--paragraph);
}

.side-bar{
    color: var(--color-accent);
    background-color: var(--color-white);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    text-align: center;
    padding: 0;
    font-family: var(--font-body);
}

.side-item i{
    display: block;
    font-size: 1.6rem;
    color: var(--color-accent);
    margin-bottom: 6px;
}

.side-item{
    align-content: end;
    justify-content: center;
    width: 100%;
    height: 70px;
    flex-shrink: 1;
}

.side-item span{
    font-size: 10px;
}

i:hover{
    border-radius: 15px;
}

.side-bar a{
    margin: none;
    text-decoration: none;
    color: var(--color-black);
}

.side-bar .side-item:hover , .side-bar .side-item:active{
    
    border-left: 5px solid var(--color-accent);
}


.side-item{
    transition-property: border;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 4s;
}



/*=================NAV BAR=====================*/
.top-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-white);
}

.top {
    width: 100%;
    padding: 0;
    max-width: 300px;
    flex-grow: 1;
    margin: 0;
    max-width: 300px;
    height: 67px;
}

.flex-1{
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: left;
}

.main-logo{
    padding: 0;
    width: 75px;
    height: 85px;
}

/*==================SEARCH BAR======================*/

.flex-2{
    display: flex;
    align-content: center;
    justify-content: center; 
    max-width: 500px;  
}

.search-icon{
    position: relative;
    display: inline-block;
    color: var(--color-accent);
    background-color: transparent;
    outline: none;
    border: none;
    
}


.search-icon i{
    font-size: 20px;

    position: absolute;
    right: 2px;
    bottom: 20px;
}

input[type="search"]{
    margin: auto;
    height: 40px;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(13, 37, 69, 0.12);
    border-radius: 10px;
    color: var(--paragraph);
}

/*===============ACCOUNT DETAILS====================*/
.profile-pic{
    border-radius: 20px;
    width: 50px;
}

.flex-3{
    display: flex;
    align-content: center;
    justify-content: right;
    margin: 5px;
    height: 50px;
}

/*===============MAIN PART====================*/


i{
    font-size: 1.4rem;
}

iframe{
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(270deg, rgba(255,255,255,0.9),
        rgba(255,255,255,0.1)), url(/assests/cognicCamp_logo.svg)
    ;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}

.bg-image{
    height:100px;
    width: 700px;
}

