@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary-light);
    color: var(--paragraph);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.room-page {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;

    grid-template-areas:
        "room-list room-card"
        "room-list room-details";
}

.room-page input {
    display: none;
}

.room-list {
    width: 300px;
    border: 2px solid var(--color-gray);
    
}



.room-card {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--color-gray);
    justify-content: baseline;
}

h1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1 i {
    font-size: 20px;
    font-weight: 700;
}

.room-card p {
    font-size: 14px;
    width: 500px;

}

.nav-btn:checked{
    background-color: var(--color-success);
}

span {
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
}

.room-desc span {
    margin-left: 50px;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

.room-desc {
    width: 270px;

}

.room-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    box-shadow: 2px 2px 5px 0px rgba(11, 37, 69, 0.12);
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    color: var(--paragraph);
}

.room-btn:hover,
.room-btn:focus,
.room-btn:active,
#room-cs482:checked~.room-list .room-btn[for="room-cs482"],
#room-ds405:checked~.room-list .room-btn[for="room-ds405"] {
    background-color: var(--color-primary-light);
    cursor: pointer;
}


h1 {
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.room-card-nav ul {
    display: flex;
    list-style: none;
    background-color: transparent;
    width: auto;
    text-align: center;
}



.room-card-nav ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    border-right: 1px solid var(--color-gray);
}

.room-card-nav ul li:hover,
.room-card-nav ul li:focus,
.room-card-nav ul li:active {
    background-color: var(--color-primary-light);
    cursor: pointer;

}


#room-cs482:checked~.room-card .cs482-box,
#room-ds405:checked~.room-card .ds405-box {
    display: block;
}

.cs482-box,
.ds405-box {
    display: none;
}



/* Add Room Button */

.room-details {
    padding: 5px 60px;
}

.box {
    max-width: 1100px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 2px black;
    margin-top: 10px;
    background-color: var(--color-primary-light);
}

.box i {
    padding: 10px;
    background-color: var(--color-primary-light);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.box h2 {
    display: inline-block;
    font-size: 15px;
}

.feed {
    display: flex;
}

.info-icon {
    display: flex;
    width: auto;
    margin: 10px;
    align-self: left;
}

.room-details h4 {
    display: flex;
    align-content: space-between;
}

.room-details button {
    align-items: right;
    margin: auto;
    background: var(--button-gradient);
    color: #F7F9FC;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

hr {
    margin: 15px 0;
}

#reply-btn,
#like-btn {
    background-color: transparent;
    border: none;
    color: var(--color-black);
    font-size: 14px;
    margin-right: 10px;
}

#like-btn:checked {
    background-color: var(--color-danger);
}

.materials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.material-box {
    padding: 10px;
    max-width: 300px;
    min-width: 200px;
    background-color: var(--color-primary-light);
    border-radius: 10px;
    margin: 20px;
}

.materials i {
    background-color: transparent;
    border: none;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.download-btn {
    margin-left: 120px;
}

.cs482-resources-tab,
.cs482-discussion-tab,
.cs482-announcement-tab {
    display: none;
}

#cs482-announcement:checked~.room-details .cs482-announcement-tab {
    display: block;
}

#cs482-discussion:checked~.room-details .cs482-discussion-tab {
    display: block;
}

#cs482-resources:checked~.room-details .cs482-resources-tab {
    display: block;
}


.ds305-announcement-tab,
.ds305-discussion-tab,
.ds305-resources-tab {
    display: none;
}
#ds405-announcement:checked~.room-details .ds305-announcement-tab {
    display: block;
}

#ds405-discussions:checked~.room-details .ds305-discussion-tab {
    display: block;
}

#ds405-resources:checked~.room-details .ds305-resources-tab {
    display: block;
}
