*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-template{
    display: grid;
    grid-template-columns: 70px 1fr ;
    grid-template-rows: 68px 90vh;
}

.top-bar{
    background-color: #f5f7fb;
    grid-column: 1/3;
}



.main-content{
    background-color: #f5f7fb;
}