*{
    box-sizing: border-box;
     margin:0;
     padding: 0;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* ===========================
   Typography
=========================== */

:root{
    
    /* Primary Colors */
    --color-primary: #2563EB;      
    --color-primary-dark: #1D4ED8;
    --color-primary-light: #DBEAFE;

    /* Neutral Colors */
    --color-black: #111827;
    --color-dark: #1F2937;
    --color-gray: #6B7280;
    --color-light-gray: #E5E7EB;
    --color-white: #FFFFFF;

    /* Status Colors */
    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
 
}

@media (max-width:1366px){

}
@media (max-width:1024px) {

}
@media (max-width:480px){

}

h1, h2,h3, h4, h5,h6{
    color: var(--color-primary);
    
}
p{
    color:var(--color-black)
}
span{
    color: var(--color-black)
}